<article class="circle">
<header>
  <h1><{$smarty.const._MD_CIRCLE_LANG_PEOPLE_DELETE}></h1>
</header>
<div class="confirm"><{$smarty.const._MD_CIRCLE_MESSAGE_CONFIRM_DELETE}></div>

<form action="<{xoops_cooluri dirname=$dirname dataname=people action=delete}>" method="post">
  <dl class="edit">
  <dt><{$smarty.const._MD_CIRCLE_LANG_PEOPLE_ID}></dt>
  <dd><{$object->getShow('people_id')}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_CATEGORY_ID}></dt>
  <dd><{$mainTitle|xoops_escape}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_STUDENT_ID}></dt>
  <dd><{$object->getShow('student_id')}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <dd>
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=people_id value=$actionForm->get('people_id')}>
      <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
      <input type="submit" class="formButton" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"/>
    </dd>
  </dl>
</form>
</article>
