<article class="circle">
<header>
  <h1><{$smarty.const._MD_CIRCLE_LANG_PEOPLE}><{$smarty.const._VIEW}></h1>
</header>
<div class="view">
  <dt><{$smarty.const._MD_CIRCLE_LANG_PEOPLE_ID}></dt>
  <dd><{$object->getShow('people_id')}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_CATEGORY_ID}></dt>
  <dd><{$accessController->getTitle($object->getVar('category_id'))|xoops_escape}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_STUDENT_ID}></dt>
  <dd><{$object->getShow('student_id')}></dd>
  <dt><{$smarty.const._MD_CIRCLE_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <!-- tag -->
    <{if count($object->mTag)>0}>
    <dt class="tagList"><{$smarty.const._TAG}>: </dt>
    <dd class="tagList">
    <{foreach item=tag from=$object->mTag}>
     <{assign var=tagurl value=$tag|xoops_escape:url}>
      <span><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname query="tag=`$tag`"}>"><{$tag|xoops_escape}></a></span> 
    <{/foreach}>
    <{/if}>
</div>
</article>
