<div class="circle">
<div class="page-header">
  <h1><{$smarty.const._MD_CIRCLE_LANG_PEOPLE_EDIT}></h1>
</div>
<{if $actionForm->hasError()}>
  <ul class="alert alert-error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<form action="<{xoops_cooluri dirname=$dirname dataname=people action=edit}>" method="post" class="form-horizontal">
  <fieldset>

  <{xoops_input type=hidden name=people_id value=$actionForm->get('people_id')}>

  <div class="control-group">
    <label for="student_id" class="control-label required"><{$smarty.const._MD_CIRCLE_LANG_STUDENT_ID}></label>
    <div class="controls"><{xoops_input type=text name=student_id value=$actionForm->get('student_id') class="span4" maxlength=11required}></div>
  </div>

  <div class="control-group">
    <label for="title" class="control-label required"><{$smarty.const._MD_CIRCLE_LANG_TITLE}></label>
    <div class="controls">
      <{xoops_input type=text name=title value=$actionForm->get('title') class="span4" maxlength=255required}>
      <!--特殊文字は表示されない旨--><{$smarty.const._MD_CIRCLE_LANG_TITLE_DESC}>
    </div>
  </div>

  <{if $accessController->getAccessControllerType()!='none'}>
  <div class="control-group">
    <label for="category_id" class="control-label required"><{$smarty.const._MD_CIRCLE_LANG_CATEGORY_ID}></label>
    <div class="controls"><select name="category_id">
      <{legacy_category_select tree=$accessController->getTree('post') selectedValue=$actionForm->get('category_id')}>
    </select></div>
  </div>
  <{else}>
  <{xoops_input type="hidden" name="category_id" value="0"}>
  <{/if}>

  <{if $tag_dirname}>
  <div class="control-group">
    <label for="tags" class="control-label"><{$smarty.const._TAG}></label>
    <div class="controls">
      <{xoops_input type=text name=tags value=$actionForm->get('tags')}>
      <p><{$smarty.const._MD_CIRCLE_lANG_TAG_SELET}></p>
      <{legacy_tag_select tDirname=$tag_dirname tags=$object->mTag}>
    </div>
  </div>
  <{/if}>

  <div class="form-actions">
    <{xoops_token form=$actionForm}>
    <button type="submit" class="btn btn-primary" value="<{$smarty.const._SUBMIT}>"><{$smarty.const._SUBMIT}></button>
    <button class="btn" name="_form_control_cancel" value="<{$smarty.const._CANCEL}>"><{$smarty.const._CANCEL}></button>
  </div>
  </fieldset>
</form>
</div>
